<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bitcoin Notification</title>
    <style>
        li { list-style: none }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</head>
<body>
    <h1>Bitcoin Notification</h1>
    <p><a href="/update/">Atualizar</a></p>
    <!-- Banner Topo -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-9782785568199590"
        data-ad-slot="7152145467"
        data-ad-format="auto"></ins>
    <p>
        Histórico dos valores
        <ul>
            {% for item in history_list %}
                <li>Data/Hora atualização: {{ item.timestamp }}</li>
                <li>Ask: {{ item.ask }}</li>
                <li>Bid: {{ item.bid }}</li>
                <li>Média do dia: {{ item.daily_avg }}</li>
                <li><hr></li>
            {% endfor %}
        </ul>
    </p>
</body>
</html>
